.top-cards {
  margin-top: -50px;
}
.card {
  display: grid;
  border-radius: 5px;
  background: var(--gray);

  /* margin-bottom: 30px; */
}

.card::before {
  content: '';
  height: 5px;
  display: block;
}

.card.facebook::before {
  background: var(--facebook);
}
.card.twitter::before {
  background: var(--twitter);
}
.card.instagram::before {
  background: linear-gradient(
    to right,
    var(--instagram-1) 0%,
    var(--instagram-2) 100%
  );
}
.card.youtube::before {
  background: var(--youTube);
}

.section__social {
  /* display: grid; */
  text-align: center;
}
.card-social-media {
  color: var(--baseColor);
  display: flex;
  font-weight: bold;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  margin: 0 0 4px;
  padding: 40px 0 0;
  /* border: 1px solid purple; */
}
.card-social-media img {
  padding-right: 5px;
}
.card-followers {
  display: grid;
  margin-bottom: 0;
  /* border: 1px solid red; */
}
.card-followers-number {
  font-size: var(--font-size);
  font-weight: 700;
  /* border: 1px solid blue; */
}

.card-followers-title {
  /* border: 1px solid green; */
  color: var(--baseColor);
  font-weight: 400;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 4px 0 20px;
}
.card-today {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.9em;
  color: var(--lime-green);
  margin-top: 0;
}
.card-today img {
  padding-right: 5px;
}

.overview {
  display: grid;
}
.card-small {
  display: grid;
  background: var(--gray);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: var(--padding-lateral);
}
.card-small-number {
  font-size: 23px;
  font-weight: 700;
  padding: 0 0em 0.5em 0.7em;
  justify-self: self-start;
  align-self: self-end;
  margin: 0;
}

.card-small-views {
  padding: 0 0.7em;
  justify-self: self-start;
  align-self: center;
}

.card-small-porcentage {
  font-weight: 700;
  padding: 0 0.7em 0.5em 0em;
  justify-self: self-end;
  align-self: self-end;
  margin: 0;
}

.card-small-image {
  padding: 0 0.7em 0.5em 0em;
  justify-self: self-end;
  align-self: self-end;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .grid {
    /* border: 1px solid purple; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    /* grid-template-rows: 1fr 0.25fr repeat(2, 0.5fr); */
  }

  .top-cards {
    display: grid;
    text-align: center;
    max-width: 1220px;
    margin: auto;
    margin-top: -100px;
  }
  .wrapper {
    display: grid;
    justify-self: self-start;
    padding: var(--padding-lateral);
    color: var(--grayDark);
  }
  .header div {
    display: grid;
    text-align: center;
    max-width: 1220px;
    /* margin: auto; */
  }
}

@media screen and (min-width: 620px) {
  .grid {
    /* border: 1px solid purple; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    /* grid-template-rows: 1fr 0.25fr repeat(2, 0.5fr); */
  }

  .top-cards {
    display: grid;
    text-align: center;
    max-width: 1220px;
    margin: auto;
    margin-top: -100px;
  }
  .wrapper {
    display: grid;
    justify-self: self-start;
    padding: var(--padding-lateral);
    color: var(--grayDark);
  }
  .header div {
    display: grid;
    text-align: center;
    max-width: 1220px;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.is-dark-mode {
  /* Dark theme mode */
  /* --Very-Dark-Blue(BG): hsl(230, 17%, 14%);
    --Very-Dark-Blue(Top BG Pattern): hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue(Card BG): hsl(228, 28%, 20%);
    --Desaturated-Blue(Text): hsl(228, 34%, 66%);
    --White(Text): hsl(0, 0%, 100%); */
  --gray: hsl(232, 19%, 15%);
  --baseBackground: hsl(230, 17%, 14%);
  --baseColor: white;
  --grayNew: hsl(228, 34%, 66%);
}
.is-light-mode {
  --gray: #f8f9f3;
  --grayDark: #5f616d;
  --baseBackground: white;
  --baseColor: #1d2029;
  --padding-lateral: 0 1.5em;
  --font-size: 46px;
  --font-color: hsl(0, 0%, 100%);
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme mode */
    /* --Very-Dark-Blue(BG): hsl(230, 17%, 14%);
    --Very-Dark-Blue(Top BG Pattern): hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue(Card BG): hsl(228, 28%, 20%);
    --Desaturated-Blue(Text): hsl(228, 34%, 66%);
    --White(Text): hsl(0, 0%, 100%); */
    --gray: hsl(232, 19%, 15%);
    --baseBackground: hsl(230, 17%, 14%);
    --baseColor: white;
    --grayNew: hsl(228, 34%, 66%);
  }
  .top-cards {
    color: var(--baseColor);
    margin-bottom: 30px;
  }
  .card-small-views {
    color: var(--grayNew);
  }

  .wrapper p {
    color: var(--grayNew);
  }

  .switch {
    background-image: linear-gradient(
      to right,
      var(--twitter) 0%,
      var(--lime-green) 100%
    );
  }

  .switch::before {
    background: #282943;
  }
}
