body {
  margin: 0;
  /* border: 1px solid red; */
  font-family: 'Inter', sans-serif;
  background: var(--baseBackground);
  color: var(--baseColor);
}

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: #168ef4;
  --twitter: hsl(203, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);
  --gray: #f8f9f3;
  --grayDark: #5f616d;
  --baseBackground: white;
  --baseColor: #1d2029;
  --padding-lateral: 0 1.5em;
  --font-size: 46px;
  --font-color: hsl(0, 0%, 100%);
}

.wrapper {
  display: grid;
  padding: var(--padding-lateral);
  color: var(--grayDark);
}

.wrapper p {
  /* border-bottom: 1px solid var(--gray); */
  margin: 0;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-row-gap: 30px;
  padding: var(--padding-lateral);
}

@media screen and (min-width: 480px) {
  .grid {
    /* border: 1px solid purple; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    /* grid-template-rows: 1fr 0.25fr repeat(2, 0.5fr); */
  }

  .top-cards {
    display: grid;
    text-align: center;
    max-width: 1220px;
    margin: auto;
    margin-top: -100px;
  }
  .wrapper {
    display: grid;
    justify-self: self-start;
    padding: var(--padding-lateral);
    color: var(--grayDark);
  }
  .header div {
    display: grid;
    text-align: center;
    max-width: 1220px;
    /* margin: auto; */
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 620px) {
  .grid {
    /* border: 1px solid purple; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    /* grid-template-rows: 1fr 0.25fr repeat(2, 0.5fr); */
  }

  .top-cards {
    display: grid;
    text-align: center;
    max-width: 1220px;
    margin: auto;
    margin-top: -100px;
  }
  .wrapper {
    display: grid;
    justify-self: self-start;
    padding: var(--padding-lateral);
    color: var(--grayDark);
  }
  .header div {
    display: grid;
    text-align: center;
    max-width: 1220px;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme mode */
    /* --Very-Dark-Blue(BG): hsl(230, 17%, 14%);
    --Very-Dark-Blue(Top BG Pattern): hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue(Card BG): hsl(228, 28%, 20%);
    --Desaturated-Blue(Text): hsl(228, 34%, 66%);
    --White(Text): hsl(0, 0%, 100%); */
    --gray: hsl(232, 19%, 15%);
    --baseBackground: hsl(230, 17%, 14%);
    --baseColor: white;
    --grayNew: hsl(228, 34%, 66%);
  }
  .top-cards {
    color: var(--baseColor);
    margin-bottom: 30px;
  }
  .card-small-views {
    color: var(--grayNew);
  }

  .wrapper p {
    color: var(--grayNew);
  }

  .switch {
    background-image: linear-gradient(
      to right,
      var(--twitter) 0%,
      var(--lime-green) 100%
    );
  }

  .switch::before {
    background: #282943;
  }
}
