body {
  font-family: 'Public Sans', sans-serif;
  // border: 2px solid red;
}

.header {
  border: 1px solid peru;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 10px;
}
.header__menu {
  justify-self: end;
}
