.hero {
  // border: 1px solid red;
  text-align: center;
  .copy {
    margin-bottom: 2em;
  }
  &__image {
    margin: 0 calc(-1 * var(--wrapperSpace));
    // border: 1px solid green;
    height: 300px;
    background: url('../../challenge-assets/images/image-mockups.png') center
        bottom no-repeat,
      url('../../challenge-assets/images/bg-intro-mobile.svg');
    background-size: 346px, cover;
  }
}
